{% load static %}

<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title textproject-center">
                    <h1 class="mb-10">Our Featured Projects</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>

        <div class="filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".vector">Vector</li>
                <li data-filter=".raster">Raster</li>
                <li data-filter=".ui">UI/UX</li>
                <li data-filter=".printing">Printing</li>
            </ul>
        </div>

        <div class="filters-content">
            <div class="row grid">
                {% for p in instance.project.all %}
                <div class="single-portfolio col-sm-4 all vector">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{% if p.image %} {{ p.image.url }} {% endif %}" alt="{{ p.title }}"
                                style="width:399px; height: 400px;">
                        </div>
                        <a href="{% if p.image %} {{p.image.url}} {% endif %}" class="img-pop-up">
                            <div class="middle">
                                <h3 style="color: red; font-family: 'Droid Sans Mono Slashed';">
                                    {% for member in p.portfolio.all %} {{ member.author }}, {% endfor %}
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>{{ p.title }}</h4>
                        <div class="cat">{{ p.description|truncatechars:80 }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
</section>
<!-- End portfolio-area Area -->