{% extends 'base/base.html' %}
{% load static %}

{% block title %} Projects {% endblock %}

{% block content %}

{#{% include 'partials/navigation.html' %}#}
<!-- start banner Area -->
<section class="about-banner">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Portfolio
                </h1>
                <p class="text-white link-nav"><a href="{% url 'portfolio:index' %}">Home </a> <span
                        class="lnr lnr-arrow-right"></span> <a href="portfolio.html"> Portfolio</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Featured Portfolios</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>

        <div class="filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".vector">Vector</li>
                <li data-filter=".raster">Raster</li>
                <li data-filter=".ui">UI/UX</li>
                <li data-filter=".printing">Printing</li>
            </ul>
        </div>

        <div class="filters-content">
            <div class="row grid">
                {% for p in portfolios %}
                <div class="single-portfolio col-sm-4 all vector">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="{{ p.image.url }}" alt="" style="width:399px; height: 400px;">
                        </div>
                        <a href="{{ p.image.url }}" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="{% static 'img/preview.png' %}"
                                        alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>{{ p.author }}</h4>
                        <div class="cat">{{ p.description }}</div>
                    </div>
                </div>
                {% endfor %}
        </div>
</section>
<!-- End portfolio-area Area -->
{#{% include 'partials/footer.html' %}#}
{%  endblock %}